#canvas {
    display: grid;
    grid-template-columns: repeat(50, 0fr);
    grid-template-rows: repeat(50, 0fr);
    gap: 0px;
    place-items: center;
    width: fit-content;
    /* margin-left: 200px; */
    background-color: red;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cell{
    height: 15px;
    width: 15px;
    background-color: white;
    margin: 0px;
    cursor: crosshair;
    color: black;
    font-size: 10px;
}

.selected{
    background-color: black;
}