body{
    font-family: 'Sometype Mono', monospace;
    background-color: #010101;
    color: #1fc742;
    padding: 10px 10px;
}

#about{
    max-width: 90vw;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #1fc742;
}
#canvas {
    display: grid;
    grid-template-columns: repeat(100, 0fr);
    grid-template-rows: repeat(100, 0fr);
    gap: 0px;
    place-items: center;
    width: fit-content;
    /* margin-left: 200px; */
    flex: 0.6;
    max-height: 80vh;
    max-width: 90vw;
    overflow: hidden;
}
#header{
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
}
#info{
    margin-top: 30px;
}
.main{
    display: flex;
    flex-direction: column;
}
#container{
    flex: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cell{
    height: 12px;
    width: 12px;
    background-color: #010101;
    margin: 0px;
    cursor:cell;
    color: #1fc742;
    font-size: 10px;
    border: 0.5px solid #025b18;
}
/* .cell:hover{
    background-color: aquamarine;
} */

.selected{
    background-color: yellow;
}

.title{
    text-align: center;
}

.btns{
    flex: 0.4;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content:center;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

#simulate{
    background-color: transparent;
    border: 1px solid black;
    color: black;
    background-color: #1fc742;
    width: 80px;
    height: 25px;
    padding: 4px;
    border-radius: 2px;
    cursor: pointer;
}
#next{
    background-color: transparent;
    border: 1px solid black;
    color: black;
    background-color: #162c99;
    width: 80px;
    height: 25px;
    padding: 4px;
    border-radius: 2px;
    cursor: pointer;
}
#reset{
    background-color: transparent;
    border: 1px solid black;
    color: black;
    background-color: #bbb31d;
    width: 80px;
    height: 25px;
    padding: 4px;
    border-radius: 2px;
    cursor: pointer;
}
#clear{
    background-color: transparent;
    border: 1px solid black;
    color: black;
    background-color: #c71f1f;
    width: 80px;
    height: 25px;
    padding: 4px;
    border-radius: 2px;
    cursor: pointer;
}
#stop{
    background-color: transparent;
    border: 1px solid black;
    color: black;
    background-color: #c76d1f;
    width: 80px;
    height: 25px;
    padding: 4px;
    border-radius: 2px;
    cursor: pointer;
}
#speed{
    background-color: transparent;
    border: 1px solid #1fc742;
    color: #1fc742;
    width: 80px;
    height: 25px;
    padding: 4px;
    border-radius: 2px;
    cursor: pointer;
}
#size{
    background-color: transparent;
    border: 1px solid #1fc742;
    color: #1fc742;
    width: 80px;
    height: 25px;
    padding: 4px;
    border-radius: 2px;
    cursor: pointer;
}
#generation-container{
    min-width: 80px;
}
#generation{
    color: white;
}

.presets{
    margin-left: 50px;
}

.preset{
    cursor: pointer;
    text-transform: capitalize;
}

#save{
    background-color: aqua;
}

footer{
    display: flex;
    justify-content: center;
}

#music{
    background-color: transparent;
    border: none;
    color: #1fc742;
    margin-left: 20px;
    padding-top: 8px;
    cursor: pointer;
}
